{% extends "base.html" %}
{% block title %}New Post{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field, render_field_no_label %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>New Post</h1>

      <form method="POST" class="mt-4">
        <div class="form-group">
          {{render_field(postForm.topic, class= "form-control")}}
        </div>

        <div class="form-group">
          {{render_field(postForm.title, class= "form-control")}}
        </div>

        <div class="form-group">
          {{render_field(postForm.content, class= "form-control")}}
        </div>

        <input id="userID" name="userID" type="text" value="{{currentUserID}}" style="display:none;">

        <div class="form-group">
          <input type="submit" class="btn btn-success">
        </div>
      </form>
    </div> <!--Column-->
  </div> <!--Row-->
</div> <!--Container-->
{% endblock %}

{% block scripts %}
{% endblock %}
