{% extends "adminBase.html" %}
{% block title %}View Post{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/styles/viewPost.css">
<link rel="stylesheet" href="/static/styles/postMeta.css">
{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field, render_field_no_label %}
{% autoescape True %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            {{ flash() }}

            <div class="post-preview">
                <h1 class="post-title">
                    {{ post.Title }}
                </h1>

                <p class="post-text">
                    {{ post.Content }}
                </p>

                <span class="post-meta">Posted by <a href="/adminProfile/{{post.Username}}">{{ post.Username }}</a> on {{ post.DatetimePosted }} | <a
                        href="/adminIndivTopic/{{ post.TopicID }}">{{ post.Topic }}</a></span>

                <span class="post-votes ml-auto float-right" id="post-votes-{{ post.PostID }}">
          <a href="#" data-toggle="modal" data-target="#DeletePostModal"><i class="fa fa-trash" aria-hidden="true"></i></a>
          <a class="cancel-form" data-toggle="collapse" href="#commentForm"><i class="fa fa-comment"></i> Comment</a>
          <a class="upvote" id="upvote0" data-vote="1" data-post="{{ post.PostID }}" class="ml-3"><i
                  class="fa fa-arrow-up {% if post.UserVote==1 %}active{% endif %}"></i></a>
          <span id="postTotalVotes{{post.PostID}}">{{ post.TotalVotes }}</span>
          <a class="downvote" id="downvote0" data-vote="-1" data-post="{{ post.PostID }}"><i
                  class="fa fa-arrow-down {% if post.UserVote==-1 %}active{% endif %}"></i></a>
        </span> <!--Votes-->

                <form method="POST" class="mt-4 collapse" id="commentForm">
                    <div class="form-group">
                        {{
                        render_field_no_label(commentForm.csrf_token,value=session['csrf_token'],class='form-control.d-none')
                        }}
                    </div>
                    <hr class="mx-auto w-100 mb-4">
                    <div class="form-group">
                        {{render_field_no_label(commentForm.comment, class= "form-control")}}
                    </div>

                    <div class="form-group">
                        {{render_field_no_label(commentForm.userID,value=session['userID'], class= "form-control")}}
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary cancel-form" data-toggle="collapse"
                                href="#commentForm">Cancel
                        </button>
                        <input type="submit" form="commentForm" class="btn btn-success">
                    </div>
                </form>

                <div id="DeletePostModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Delete post</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Delete {{ post.Username }}'s post? </p>
                            </div>
                            <div class="modal-footer">
                                <form method="POST" action="/adminDeletePost/{{post.PostID}}">
                                    <div class="form-group">
                                        {{
                                        render_field_no_label(commentForm.csrf_token,value=session['csrf_token'],class='form-control.d-none')
                                        }}
                                    </div>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!--Post-->

            <span class="meta">Comments:</span>

            {% for comment in commentList %}
            <div class="comment">
                <p class="comment-meta">
                    <a href="/adminProfile/{{comment.Username}}">{{ comment.Username }}</a> on {{ comment.DatetimePosted
                    }}
                </p>

                {% autoescape True %}
                <p>{{ comment.Content }}</p>
                {% endautoescape %}


                <div class="comment-functions text-right" id="comment-votes-{{ comment.CommentID }}">
                    <a href="#" data-toggle="modal" data-target="#replyModal{{comment.CommentID}}"
                       data-id="{{ comment.CommentID }}"><i
                            class="fa fa-reply"></i> Reply</a>
                    <a class="upvotecomment" id="upvotecomment{{loop.index-1}}" data-vote="1"
                       data-comment="{{ comment.CommentID }}" class="ml-3"><i
                            class="fa fa-arrow-up {% if comment.UserVote==1 %}active{% endif %}"></i></a>
                    <span id="commentTotalVotes{{comment.CommentID}}">{{ comment.TotalVotes }}</span>
                    <a class="downvotecomment" id="downvotecomment{{loop.index-1}}" data-vote="-1"
                       data-comment="{{ comment.CommentID }}"><i
                            class="fa fa-arrow-down {% if comment.UserVote==-1 %}active{% endif %}"></i></a>
                </div> <!--Votes-->


                <div class="modal fade" id="replyModal{{comment.CommentID}}" tabindex="-1" role="dialog"
                     aria-labelledby="replyModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Reply Comment</h5>
                                <button type="button" class="close cancel-form" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" id="replyForm{{comment.CommentID}}">
                                    <div class="form-group">
                                        {{ replyForm.csrf_token }}
                                    </div>
                                    {{ render_field_no_label(replyForm.reply, class= "form-control") }}
                                    {{ render_field_no_label(replyForm.userID,value=session['userID'], class=
                                    "form-control") }}
                                    {{ render_field_no_label(replyForm.repliedID,value=comment.CommentID, class=
                                    "form-control") }}
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary cancel-form" data-dismiss="modal">Close
                                </button>
                                <input type="submit" form="replyForm{{comment.CommentID}}" class="btn btn-success">
                            </div>
                        </div> <!--Modal content-->
                    </div> <!--Modal dislog-->
                </div> <!--Main Modal div-->


                {% if comment.ReplyList!=None %}
                {% for reply in comment.ReplyList %}
                <div class="sub-comment">
                    <p class="comment-meta">
                        <a href="/adminProfile/{{reply.Username}}">{{ reply.Username }}</a> on {{ reply.DatetimePosted
                        }}
                    </p>
                    <p>{{ reply.Content }}</p>
                </div> <!--Sub Comment-->
                {% endfor %}
                {% endif %}

            </div> <!--Comment-->
            {% endfor %}

        </div> <!--Column-->
    </div> <!--Row-->
</div> <!--Container-->
{% endautoescape %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../../static/scripts/post-votes.js"></script>
{% endblock %}
