hr {
  border: 0;
  width: 95%;
  background-color:#aaa;
  height: 0.9px;
  margin: 0;
}

#trending-topics {
  background-color: #fff;
  padding: 5px 0px;
}

#trending-topics p {
  padding-left: 15px;
}

.form-control:focus {
  box-shadow: none;
}

.topic {
  padding: 5px 10px;
}

p.topic span {
  font-size: 18px;
  color: #767e86;
}

.post-preview {
  background-color: #fff;
  padding: 10px 25px;
  width: 100%;
}

.post-preview:hover {
  background-color: #f8f8f8;
}

.post-preview > a {
  color: #212529;
}

.post-preview > a:hover, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 14px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 25px;
  }
}
